.card.country-info {
    background-color: #fff;
    color: #000;
    border-radius: 17px;
    padding: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.card.country-info .countryname {
    margin-left: 5px;
}

.info {
    margin-left: 4px;
    font-size: 20px;
    color: #32383e;
}
.ng-fa-icon {
    margin-left: 4px;
    font-size: 20px;
}

.ng-fa-icon.wind {
    color: #61a3ea
}

.ng-fa-icon.drop {
    color: #5e99d7
}

.ng-fa-icon.sun {
    color: #ffef08
}

.locationname {
    font-size: 30px;
}

.temp {
    align-self: center;
}

.currentLocation {
    font-size: 18px;
    font-weight: 600;
    text-align: end;
}

@media (max-width:420px) {
    .card.country-info {
        padding: 17px;
    }
}