<div class="landing-body  weatherBody container-fluid mt-5"  *ngIf="weatherData">
    <div class="row banner g">
        <div class="col-sm-12 col-lg-8 banner-txt">
            <h1>Your Ultimate Guide to Today's Conditions!</h1>
            <h4>Get the Latest Weather Information Here</h4>
        </div>

            <div class="col-sm-12 col-lg-4">
                <app-card-weather-info [weatherData]="weatherData"></app-card-weather-info>

            </div>
    </div>

</div>

<div class="cityHighlight row" style="margin: 20px;" *ngIf="cities">
    <h3>CITIES WEATHER</h3>
   <ng-container *ngFor="let city of cities" >
    <div   class="card  col-3" style="width: 18rem;"  *ngIf="city.adminName1 != ''" >
        <div class="card-body city-info" >
            <h5 class="card-title">{{city.name | uppercase}} </h5> <span> <fa-icon [icon]="faTemp" class="wind"></fa-icon>{{city.temp}}°C</span>
            <p class="card-text" >Check {{city.name}} weather for more info</p>
            <button class="btn row" (click)="onWeatherButtonClick(city)">show</button>
        </div>
    </div>
</ng-container>
</div>
<router-outlet></router-outlet>